<!DOCTYPE html>
<html>
    <head>
        <title>Profile <%=user%></title>
    </head>
    <body>
        <%- include('navbar'); %> 
        <div>Welcome <%=user%>!</div>
        <%for(i in organizations){%>
            <a href="/<%=organizations[i].admin%>/<%=organizations[i].name%>"><div><%=organizations[i].name%></div></a>
        <%}%>
        <a href="./create-organization"><button>Create Organization!</button></a>
   </body>
</html>